@tailwind base;
@tailwind components;
@tailwind utilities;
  

.flexCol{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.transparent-black-gradient{
    background: linear-gradient(120deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.transparent-black-gradient-blur{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.items::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
.items::-webkit-scrollbar-track {
    background: #f1f1f1;

}


/* Handle */
.items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    height: 5px;
    
    
}
 
/* Handle on hover */
.items::-webkit-scrollbar-thumb:hover {
    background: #555;
}